<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571055319886-to3q6v3gbfkq53svnl0vjukfqjh713dt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571055319886-to3q6v3gbfkq53svnl0vjukfqjh713dt</string>
	<key>API_KEY</key>
	<string>AIzaSyAa7g2aKZxL1Q5FP7xq1ohzF33esA8TmH0</string>
	<key>GCM_SENDER_ID</key>
	<string>571055319886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yuntech.john.NewBakery</string>
	<key>PROJECT_ID</key>
	<string>newbakery-8dd46</string>
	<key>STORAGE_BUCKET</key>
	<string>newbakery-8dd46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571055319886:ios:78bc31b03af9bb71c14c1f</string>
	<key>DATABASE_URL</key>
	<string>https://newbakery-8dd46.firebaseio.com</string>
</dict>
</plist>